body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #3498db, #8e44ad);
  color: #fff;
  overflow-x: hidden;
}

.container {
  padding: 20px;
}

.form-container {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background: #2c3e50;
  transition: left 0.5s ease-in-out;
  z-index: 3;
}

.show-form {
  left: 0;
}

.form-content {
  padding: 10px;
}

label {
  display: inline;
  margin-bottom: 3px;
}

input[type="number"] {
  width: 30px;
  align-self: flex-end;
  text-align: center;
}

select {
  width: 100%;
}

#questions-container {
  margin-top: 20px;
  border: 1px solid #ccc;
            border-radius: 4px;
            padding: 10px;
            margin-bottom: 20px;
}

#questions-container div {
  margin-bottom: 10px;
}

#questions-container input[type="radio"],
#questions-container input[type="text"] {
  margin-left: 10px;
}

#generate-pdf,
#refresh-questions {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#generate-pdf:hover,
#refresh-questions:hover {
  background-color: #2980b9;
}

#sidebars {
  background: rgba(173,75,57,0.7);
  border-radius: 20px 20px 0 0;
  padding: 2px 0;
  text-align: center;
  margin: 0px;
}

#filtered {
  padding: 10px;
  background: rgba(173,75,57,0.3);
}

#search-button {
  background: rgba(173,75,57,0.9);
  width: 100%;
  border-radius: 20px;
}

#logo {
  height: 50px;
  width: auto;

}

#Heading #refresh-questions {
  font-size: 20px;
    align-self: flex-end;
}

#buttonz {
         display: flex;
            justify-content: space-between;
            position: sticky;
            bottom: 0;
            padding: 5px;
            width: 100%;
  align-items: center;
  z-index: 1;
}