body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #3498db, #8e44ad);
  color: #fff;
  overflow-x: hidden;
}

.container {
  padding: 20px;
}

.form-container {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background: #2c3e50;
  transition: left 0.5s ease-in-out;
  z-index: 3;
  overflow-y: auto;
}

.show-form {
  left: 0;
}

.form-content {
  padding: 10px;
}

#toggle-form {
  align-self: flex-end;
}

        .question-wrapper {
            margin-bottom: 10px;
        }
        .section-identifier {
            font-weight: bold;
            margin-bottom: 5px;
            background-color: rgba(245,255,5,0.4);
            width: 100%;
            padding: 5px 0;
            border-radius: 5px;
            
        }

label {
  display: inline;
  margin-bottom: 3px;
}

input[type="number"] {
  width: 30px;
  align-self: flex-end;
  text-align: center;
}

select {
  width: 100%;
}

#questions-container {
  margin-top: 10px;
  border: 1px solid #ccc;
            border-radius: 5px;
            padding: 5px;
            margin-bottom: 10px;
}

#questions-container div {
  margin-bottom: 10px;
}

#questions-container input[type="radio"],
#questions-container input[type="text"] {
  margin-left: 10px;
}

#generate-pdf,
#refresh-questions {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgba(245,255,5,0.4);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#generate-pdf:hover,
#refresh-questions:hover {
  background-color: #2980b9;
}

#sidebars {
  background: rgba(173,75,57,0.7);
  border-radius: 20px 20px 0 0;
  padding: 2px 0;
  text-align: center;
  margin: 0px;
}

#filtered {
  padding: 10px;
  background: rgba(173,75,57,0.3);
}

#search-button {
  background: rgba(173,75,57,0.9);
  width: 100%;
  border-radius: 20px;
}

#logo {
  height: 50px;
  width: auto;

}

#Heading #refresh-questions {
  font-size: 20px;
    align-self: flex-end;
}

#buttonz {
         display: flex;
            justify-content: space-between;
            position: sticky;
            bottom: 0;
            padding: 5px;
            width: 100%;
  align-items: center;
  z-index: 1;
}
/* Button Style with Icon */
#save-btn {
    border: none;
    padding: 10px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 20px; 
    top: 5px; 
     right: 5px;
    cursor: pointer; 
    border-radius: 50%; 
    width: 50px; 
    height: 50px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: fixed;
}

#save-btn i {
    font-size: 24px; 
}